.buttons-wrapper {
  --bg: darkslateblue;

  width: auto;
  height: 38%;
  padding: 1rem;
  perspective: 800;
  border-radius: 4px;
  position: relative;
  background: var(--primary);
  border: 1px solid transparent;
  transition: var(--transition);
  transform-style: preserve-3d;
  box-shadow:
    -14px 20px 20px darkslateblue,
    -4px 2px 20px darkslateblue,
    -4px 2px 20px darkslateblue;
  transform: matrix( .9, .1, .4, .9, 21, 24);
  animation: floating infinite cubic-bezier(0.42, 0, 0.68, 1.01) 4s;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: fit-content(50%);
}

@keyframes floating {
  0% {
    transform: matrix( .9, .1, .4, .9, 21, 24) translateY(0);

  }
  50% {
    transform: matrix( .9, .1, .4, .9, 21, 24) translateY(40px);
  }
}


.buttons-wrapper:hover {
  animation: paused;
/* box-shadow: -19px 19px 20px var(--bg), -7px 2px 20px var(--bg);*/
}


.buttons-wrapper:after,
.buttons-wrapper:before {
  content: '';
  position: absolute;
  background: #6150c7;
}

.buttons-wrapper:before {
  left:47.5%;
  z-index: 1;
  width: 10px;
  height: 125%;
  bottom: -64%;
  transform: rotateZ(-89deg) skew(1deg, 52deg);
}

.buttons-wrapper:after {
  left: 0;
  z-index: 2;
  width: 10px;
  height: 100%;
  transform: skew(0deg, -45deg) translate(-10px, -4px);
}

button.btn.w,
button.btn.s {
  grid-column: 2/3;
}

button.btn.w {
  grid-row: 1/2;
}

button.btn.s,
button.btn.two {
  border: none;
  border-bottom: var(--border-s);
}

button.btn.a {
  grid-column: 1/2;
}

button.btn.d {
  grid-column: 3/4;
  margin-right: .5rem;
}

button.btn.a,button.btn.d,
button.btn.s {
  grid-row: 2/3;
}

button.btn.space {
  grid-column: 1 / span 6;
  margin-top: .6rem;
  grid-row: 4;
  border-radius: 4px;
}

button.btn.one {
  grid-column: 4;
  margin-left: .5rem;
}

button.btn.one,
button.btn.two,
button.btn.four {
  grid-row: 2;
}

button.btn.three {
  grid-column: 5;
}

div.input-group {
  grid-row: 5;
  margin-top: 2rem;

  display: flex;
  text-align: center;
  align-items: center;
  flex-flow: column-reverse nowrap;
}

div#switch-box {
  grid-column: 3;
}

div#volume {
  grid-column: 6;

  position: absolute;
  bottom: 12%;
  right: 20%;
}
