.btn {
  --ts: transparent;

  height: 100%;
  color: white;
  padding: 2rem;
  border-radius: 50%;
  background: var(--ts);
  border: var(--border-s);
  font-variant: small-caps;
  transition: var(--transition);
}

.btn:hover {
  cursor: pointer;
  background: var(--secundary);
  border: var(--border) !important;
  box-shadow: 0 0 20px var(--secundary);
}
