:root {
  --primary: slateblue;
  --secundary: darkturquoise;
  --border-s: 1px dashed white;
  --transition: all 460ms ease;
  --border: 1px dashed aquamarine;
}

body {
  margin: 0;
  padding: 0;
  color: lightgray;
  overflow: hidden;
}
body, body div {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 65rem;
  perspective: 800;
  background: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;
}
