.pad-buttons-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: fit-content(50%);
}

button.btn.w,
button.btn.s {
  grid-column: 2/3;
}

button.btn.w {
  grid-row: 1/2;
}

button.btn.s,
button.btn.two {
  border: none;
  border-top: 1px solid transparent;
  border-bottom: var(--border-s);
}

button.btn.a {
  grid-column: 1/2;
}

button.btn.d {
  grid-column: 3/4;
  margin-right: .5rem;
}

button.btn.a,button.btn.d,
button.btn.s {
  grid-row: 2/3;
}

button.btn.space {
  grid-column: 1 / span 6;
  margin-top: .6rem;
  grid-row: 4;
  border-radius: 4px;
}

button.btn.one {
  grid-column: 4;
  margin-left: .5rem;
}

button.btn.one,
button.btn.two,
button.btn.four {
  grid-row: 2;
}

button.btn.three {
  grid-column: 5;
}
